      # Authentication & API Configuration
      AIRFLOW__API__SECRET_KEY: ${AIRFLOW_SECRET_KEY}
      AIRFLOW__API_AUTH__JWT_SECRET: ${AIRFLOW_SECRET_KEY}
      AIRFLOW__API_AUTH__JWT_ALGORITHM: ${AIRFLOW_API_JWT_ALGORITHM}
      AIRFLOW__API_AUTH__JWT_EXPIRATION_DELTA_SECONDS: ${AIRFLOW_API_JWT_EXPIRATION}
      AIRFLOW__API_AUTH__REFRESH_TOKEN_EXPIRATION_SECONDS: ${AIRFLOW_API_JWT_REFRESH_EXPIRATION}
      AIRFLOW__API_AUTH__JWT_COOKIE_SECURE: ${AIRFLOW_API_JWT_COOKIE_SECURE}
      AIRFLOW__API_AUTH__JWT_COOKIE_DOMAIN: ${AIRFLOW_API_JWT_COOKIE_DOMAIN}
      AIRFLOW__API_AUTH__JWT_AUDIENCE: ${AIRFLOW_API_JWT_AUDIENCE}